html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#measure {
    width: 100%;
    text-align: center;
}

#myChart {
    width: 800px;
    /* min-width: 600px; */
    /* height: 400px; */
}