html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#measure {
    width: 100%;
    text-align: center;
    font-size: 2vw;
}

#cardiograph {
    width: 70vw !important;
    /* min-width: 600px; */
    height: 35vw !important;
}

/* @media only screen and (max-width: 300px) {
    #measure {
        font-size: 4vw !important;
    }

    #cardiograph {
        height: 1000vw !important;
    }
}

@media only screen and (max-width: 400px) {
    #measure {
        font-size: 4vw !important;
    }

    #cardiograph {
        height: 150vw !important;
    }
}

@media only screen and (max-width: 500px) {
    #measure {
        font-size: 4vw !important;
    }

    #cardiograph {
        height: 125vw !important;
    }
}  */

@media only screen and (max-width: 800px) {
    #measure {
        font-size: 6vw !important;
    }

    #cardiograph {
        width: 85vw !important;
        height: 100vw !important;
    }
} 

@media only screen and (max-width: 600px) {
    #measure {
        font-size: 6vw !important;
    }

    #cardiograph {
        height: 130vw !important;
    }
} 

