html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width: 1281px) {
    #measure {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    }

    #cardiograph {
    width: 40vw !important;
    /* min-width: 600px;  */
    height: 35vw !important;
    }
}


/* @media only screen and (max-width: 300px) {
    #measure {
        font-size: 4vw !important;
    }

    #cardiograph {
        height: 1000vw !important;
    }
}

@media only screen and (max-width: 400px) {
    #measure {
        font-size: 4vw !important;
    }

    #cardiograph {
        height: 150vw !important;
    }
}

@media only screen and (max-width: 500px) {
    #measure {
        font-size: 4vw !important;
    }

    #cardiograph {
        height: 125vw !important;
    }
}  */

@media screen and (min-width: 1336px){
    #measure {
        font-size: 6vw !important;
    }

    #cardiograph {
        width: 55vw !important ;  
        height: 80vw !important;
    }
} 

@media screen and (min-width: 320px) {
    #measure {
        font-size: 6vw !important;
        text-align: center;
    }

    #cardiograph {
        height: 47vh !important;

    }
} 

@media screen and (min-width: 767px) and (max-width: 1023px) {
    #cardiograph {
        height: 70vw !important;
        width: 45vw !important;
        margin-right: 30px !important;
    }
    #measure {
        
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    #cardiograph {
        height: 65vw !important;
        width: 30vw !important;
        margin-left: 40px !important;
    }
    #measure {
        
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    #cardiograph {
        height: 120vw !important;
        width: 70vw !important;
    }
    #measure {
        font-size: 5vw !important;
        text-align: center;
    }
}